/* style.css */
/* Programmé par Tamanaco Martínez */
/* Dernière Modification: 2021-09-18 */

@import 'styleNavbar';

@import 'styleFooter';

@font-face   
    font-family: thelovecats
    src: url(../media/fonts/thelovecats.ttf)

@font-face   
    font-family: wms
    src: url(../media/fonts/c-swing.ttf)

.parallax 
    background-image: url("../media/discographie/Discographie.png")
    height: 100%
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    font-family: theLovecats
    font-size: 80px
    padding-top: 20%
    padding-bottom: 20%
    color:#ffc107


body
    background-color: black
    background-size: cover
  

#banniereTitre
    font-family: thelovecats
    font-size: 5rem
    color: #d0a21a
    font-weight: bolder
    background-color: none

@media screen and (max-width:  992px)  
    #banniereTitre 
        font-family: thelovecats
        font-size: 30px
        color: #d0a21a
        font-weight: bolder
    
h1 
    background-color: #ce3341
    font-family: wms

h5
    font-family: wms
    color: grey

h5:hover 
    color: #d0a21a


img:hover
    border-style: solid 
    color: #d0a21a

