/* style.css */
/* Programmé par Tamanaco Martínez */
/* Dernière Modification: 2021-09-18 */

@font-face   
    font-family: theLovecats
    src: url(../media/fonts/thelovecats.ttf)

@import 'styleNavbar';


    
body
    background-image: url(../media/cureHigh.jpg)
    background-repeat: non-repeat
    background-size: cover

html body 
    margin: 0%
    height: 100%

       

.parallax 
    background-image: url("../media/cure-wish.jpg")
    height: 100%
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    font-family: theLovecats
    font-size: 80px
    color:#ffc107




