/* style.css */
/* Programmé par Tamanaco Martínez */
/* Dernière Modification: 2021-09-18 */

@import 'styleNavbar';

@import 'styleFooter';

@font-face   
    font-family: wms
    src: url(../media/fonts/c-swing.ttf)  

@mixin banniere__image
    display: block
    margin-left: auto
    margin-right: auto
    width: 25%

body
    background-image: url(../media/catch.jpg)
    background-repeat: no-repeat
    background-size: cover

h1
    background-color: #ce3341
    font-family: wms

form
    background-color: #343a40

label
    color: #ce3341
    font-family: wms
    

button 
    background-color: #ce3341
    font-family: wms

input
    color: #ce3341
    font-family: wms

select
    color: #ce3341
    font-family: wms

.banniere__image 
    @include banniere__image

a
    img
        border-style: solid 
        color: #ce3341
        display: block
        margin-left: auto
        margin-right: auto
        width: 100%
        height: 100%
       
a
    img:hover
        color: #ffc107

@media screen and (max-width:  992px)  
    h1
        background-color: #ce3341
        font-family: wms
        font-size: 30px









