/* style.css */
/* Programmé par Tamanaco Martínez */
/* Dernière Modification: 2021-09-18 */

@import 'styleNavbar';

@import 'styleFooter';

@font-face   
    font-family: wms
    src: url(../media/fonts/c-swing.ttf)  

body
    background-image: url(../media/catch.jpg)
    background-repeat: non-repeat
    background-size: cover

h1
    background-color: #ce3341
    font-family: wms

form
    background-color: #343a40

label
    color: #ce3341
    font-family: wms
    font-size-adjust: 15px

button 
        background-color: #ce3341
        font-family: wms

input
    color: #ce3341
    font-family: wms

select
    color: #ce3341
    font-family: wms

.centrer
  display: block
  margin-left: auto
  margin-right: auto
  width: 25%

a
    img
      border-style: solid 
      color: #ce3341

a
    img:hover
        color: #ffc107

@media screen and (max-width:  992px)  
    h1
        background-color: #ce3341
        font-family: wms
        font-size: 30px






